body {
  margin: 0;
  font-family: "Roboto";
  line-height: 1.5;
  color: #353935;
  background-color: #faf9f6;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.active.navlink {
  background-color: rgba(0, 150, 255, 0.1);
  border: 2px solid rgba(0, 150, 255, 0.6);
  border-radius: 5px;
  padding: 10px;
}

code {
  font-family: "Source Code Pro";
}
